.header__logo {
    background-image: url('../../../public/logo_travel.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: center;
}